body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #66d3dd;
}

/* Header */
.header {
    position: relative; 
    text-align: center;
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 60px;
    color: black;
}

.login-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: #a49125b6;
}

/* Login Modal */
.login-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.login-modal input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-modal button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.login-modal button:hover {
    background-color: gray;
}

/* Products */
.product-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    margin: 10px;
}

.product img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

/* Cart Icon */
.cart-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 10px;
}

.cart-icon img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

figure {
    text-align: center; /* Centra la imagen y la descripción */
    margin: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
 figcaption {
            font-size: 26px;
            color: #555;
            margin-top: 10px;
            max-width: 290px; /* Define un ancho fijo para que el texto salte de línea */
            word-wrap: break-word; /* Permite que las palabras largas se dividan si es necesario */
            margin: 0 auto; /* Centra el texto debajo de la imagen */
            line-height: 1.5; /* Espaciado entre las líneas */
        }